TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_STRING_SESSION=
GROQ_API_KEY=
GROQ_MODEL=qwen/qwen3.8-27b
DATABASE_URL=
JWT_SECRET=super-secret-jwt-key-2026
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=admin123
PORT=3000
